
/*Colors*/
$primary-color: #4a7dac;
$bg-main-content: rgb(233, 236, 240);
$font-p-color: rgb(80, 80, 80);
$project-border-color: orange;

/*Sizing*/
$main-content-padding: 24px;
$gap: 24px;
$card-border-radius: 8px;
$card-padding: 10% 5% 5%;
