@import "header";

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: $main-content-padding;
    background-color: $bg-main-content;
    gap: 24px;
}

.main-content h3 {
    font-size: 1.2rem;
}

.projects-container {
    display: grid;
    grid-template-rows: auto 1fr;

    h4, p {
        margin: 0;
    }
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: repeat(3, minmax(120px, calc(100%/3)));
    grid-template-rows: repeat(3, minmax(120px, calc(100%/3)));
    // grid-auto-rows: 1fr;
    gap: $gap;
}

.project {
    background-color: white;
    border-left: $project-border-color 8px solid;
    border-radius: $card-border-radius;
    padding: $card-padding;
    display: grid;
    grid-template-rows: 1fr auto;
    height: minmax(100px, 100%);
    
    .project-info {
        h4 {
            font-size: 1rem;
            font-weight: 600;
        }

        p {
            color: $font-p-color;
            font-weight: 400;
            font-size: 0.9rem;
            margin-top: 2px;   
        }
    }

    .project-actions {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: end;
        align-items: end;
        gap: 20px;
    }
}

.news-container {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr;
    gap: 16px;
}

.announcements-container, .trending-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements-container {
    grid-row: 1/2;
}

.trending-container {
    grid-row: 2/3;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5%;
    padding: 10%;
    border-radius: $card-border-radius;

    h4 {
        font-size: 0.9rem;
        margin: 0;
        font-weight: 600;
    }
    p {
        font-size: 0.7rem;
        margin: 2px 0 0 0;
        font-weight: 400;
        color: $font-p-color;
    }
}

.announcement {
    border-bottom: 1px solid $bg-main-content;
    padding: 1rem 0;
}

.announcement:last-of-type {
    border:none;
}

.trend {
    display: flex;
    padding-bottom: 1rem;
    h4 {
        font-weight: 500;
    }

    div.trend-info {
        padding-left: 8px;
    }
}

.profile-pic-trend {
    width: 24px;
    height: 24px;
    background-size: 24px;
}